<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!--
    <script>
        var lipsum = document.getElementsByTagName("div")[0].innerHTML;

        lipsum = lipsum.replace(/[aeiou]/gi, function(x) {
            return "<span class='" + x + "'>&ensp;</span>";
        });

        document.getElementsByTagName("div")[0].innerHTML = lipsum;
    </script>  -->

    <script type="text/javascript">

        var txt = document.getElementById('text');
        var html = txt.innerHTML;

        html = html.replace('е', '<img src="letter_e.jpg" alt="" />');

        txt.innerHTML = html;

    </script>





</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>




<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
</html>
