<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> -->


</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>

<div id="mainContainer">
    <div class="optionButtonCalculator">

        <form th:method="POST" th:action="@{/calculator/save-result}">
            <input hidden type="text" name="fileName" id="fileName" value=""/>
            <a class="buttongrey" href="/calculator/new">New</a>
            <a class="buttongrey" href="/calculator/uploadFile">Import file</a>
            <input type="submit" onclick="saveResult()" class="buttongrey" value="Save Result"/>
            <script>
                function saveResult() {
                    do {
                        let fileName = prompt("Enter file name");

                        $('#fileName').val(fileName)
                    } while (!document.getElementById('fileName').value)
                }
            </script>
        </form>
    </div>

    <div class="clear"></div>

    <div>
        <span style="color: red" th:text="${InvalidInputCards}"></span>

        <form class="calculatorMainTable" th:method="POST" th:action="@{/calculator/calculate}"
              th:object="${calculatorMainTable}">

            <a class="buttonpurple" th:href="@{/calculator/range-bar/1}">Player1</a>
            <input class="range" type="text" th:field="*{rangePlayer1}" id="rangePlayer1"/>
            <input class="equity" type="text" readonly th:field="*{equityPlayer1}" id="equityPlayer1"/>
            <a class="buttonpurple" th:href="@{/calculator/clear/1}">Clear</a>
            <br>
            <a class="buttonpurple" th:href="@{/calculator/range-bar/2}">Player2</a>
            <input class="range" type="text" th:field="*{rangePlayer2}" id="rangePlayer2"/>
            <input class="equity" type="text" readonly th:field="*{equityPlayer2}" id="equityPlayer2"/>
            <a class="buttonpurple" th:href="@{/calculator/clear/2}">Clear</a>
            <br>
            <a class="buttonpurple" th:href="@{/calculator/board}">Board</a>
            <input type="text" readonly th:field="*{board}" id="board"/>
            <br>
            <input class="buttongreen" type="submit" value="Calculate"/>

            <div th:if="not ${equityByRangeP1.isEmpty()}">
                <a class="buttongrey" href="/calculator/equity-by-hand">Equity next card</a>
            </div>
        </form>
    </div>
    <div class="equity_by_range" th:if="not ${equityByRangeP1.isEmpty()}">
        <div class="equity_by_rangePlayer">
            Player1
            <table class="sortable">
                <tr>
                    <th>Hand</th>
                    <th>Equity</th>
                </tr>
                <tr th:each="entry, stat : ${equityByRangeP1}">
                    <td class="cards" th:text="${entry.key}">Hand</td>
                    <td th:text="${entry.value}">Equity</td>
                </tr>
            </table>
        </div>
        <div class="equity_by_rangePlayer">
            Player2
            <table class="sortable">
                <tr>
                    <th>Hand</th>
                    <th>Equity</th>
                </tr>
                <tr th:each="entry, stat : ${equityByRangeP2}">
                    <td class="cards" th:text="${entry.key}"></td>
                    <td th:text="${entry.value}">Equity</td>
                </tr>
            </table>
        </div>
    </div>

</div>


<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
<script>
    document.querySelectorAll('.cards').forEach(card => card.innerHTML = card.innerHTML
        .replaceAll('d', '&#9830;')
        .replaceAll('s', '&#9824;')
        .replaceAll('c', '&#9827;')
        .replaceAll('h', '&#9829;')
    )
</script>


</html>
