<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>


<div id="mainContainer">


    <span style="color: red" th:text="${InvalidInputCards}"></span>

    <form th:method="POST" th:action="@{/calculate}" th:object="${calculatorMainTable}">
        <p>Player1
            <input class="range" type="text" th:field="*{rangePlayer1}" id="rangePlayer1"/>
            <input class="equity" type="text" readonly th:field="*{equityPlayer1}" id="equityPlayer1"/>
            <a th:href="@{/range-bar/1}">Range Player1</a>
            <a th:href="@{/clear/1}">Clear</a>

        </p>
        <p>Player2
            <input class="range" type="text" th:field="*{rangePlayer2}" id="rangePlayer2"/>
            <input class="equity" type="text" readonly th:field="*{equityPlayer2}" id="equityPlayer2"/>
            <a th:href="@{/range-bar/2}">Range Player2</a>
            <a th:href="@{/clear/2}">Clear</a>
        </p>
        <p>Board
            <input type="text" th:field="*{board}" id="board"/>
            <a th:href="@{/board}">Select Board</a>
        </p>

        <input class="board" type="submit" value="Calculate"/>
    </form>

    <a href="/statistic">More Info</a>


    <!--

    -->


</div>


<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
</html>


<!--





-->
