<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>


<div id="mainContainer">

    <h2>Player1</h2>
    <table id="equity_by_card">
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/heart.png"></th>
            <th>3<img src="../img/heart.png"></th>
            <th>4<img src="../img/heart.png"></th>
            <th>5<img src="../img/heart.png"></th>
            <th>6<img src="../img/heart.png"></th>
            <th>7<img src="../img/heart.png"></th>
            <th>8<img src="../img/heart.png"></th>
            <th>9<img src="../img/heart.png"></th>
            <th>T<img src="../img/heart.png"></th>
            <th>J<img src="../img/heart.png"></th>
            <th>Q<img src="../img/heart.png"></th>
            <th>K<img src="../img/heart.png"></th>
            <th>A<img src="../img/heart.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP1.get('2h')}"></th>
            <!--<th th:utext=" ${statsP1.get('2h')}" th:styleappend="${statsP1.get('2h')} > '0,5' and ${statsP1.get('2h')} != null ? 'background-color: green;' : 'background-color: yellow;'"></th> -->
            <th th:utext=" ${statsP1.get('3h')}"></th>
            <th th:utext=" ${statsP1.get('4h')}"></th>
            <th th:utext=" ${statsP1.get('5h')}"></th>
            <th th:utext=" ${statsP1.get('6h')}"></th>
            <th th:utext=" ${statsP1.get('7h')}"></th>
            <th th:utext=" ${statsP1.get('8h')}"></th>
            <th th:utext=" ${statsP1.get('9h')}"></th>
            <th th:utext=" ${statsP1.get('Th')}"></th>
            <th th:utext=" ${statsP1.get('Jh')}"></th>
            <th th:utext=" ${statsP1.get('Qh')}"></th>
            <th th:utext=" ${statsP1.get('Kh')}"></th>
            <th th:utext=" ${statsP1.get('Ah')}"></th>
        </tr>
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/diamonds.png"></th>
            <th>3<img src="../img/diamonds.png"></th>
            <th>4<img src="../img/diamonds.png"></th>
            <th>5<img src="../img/diamonds.png"></th>
            <th>6<img src="../img/diamonds.png"></th>
            <th>7<img src="../img/diamonds.png"></th>
            <th>8<img src="../img/diamonds.png"></th>
            <th>9<img src="../img/diamonds.png"></th>
            <th>T<img src="../img/diamonds.png"></th>
            <th>J<img src="../img/diamonds.png"></th>
            <th>Q<img src="../img/diamonds.png"></th>
            <th>K<img src="../img/diamonds.png"></th>
            <th>A<img src="../img/diamonds.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP1.get('2d')}"></th>
            <th th:utext=" ${statsP1.get('3d')}"></th>
            <th th:utext=" ${statsP1.get('4d')}"></th>
            <th th:utext=" ${statsP1.get('5d')}"></th>
            <th th:utext=" ${statsP1.get('6d')}"></th>
            <th th:utext=" ${statsP1.get('7d')}"></th>
            <th th:utext=" ${statsP1.get('8d')}"></th>
            <th th:utext=" ${statsP1.get('9d')}"></th>
            <th th:utext=" ${statsP1.get('Td')}"></th>
            <th th:utext=" ${statsP1.get('Jd')}"></th>
            <th th:utext=" ${statsP1.get('Qd')}"></th>
            <th th:utext=" ${statsP1.get('Kd')}"></th>
            <th th:utext=" ${statsP1.get('Ad')}"></th>
        </tr>
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/clubs.png"></th>
            <th>3<img src="../img/clubs.png"></th>
            <th>4<img src="../img/clubs.png"></th>
            <th>5<img src="../img/clubs.png"></th>
            <th>6<img src="../img/clubs.png"></th>
            <th>7<img src="../img/clubs.png"></th>
            <th>8<img src="../img/clubs.png"></th>
            <th>9<img src="../img/clubs.png"></th>
            <th>T<img src="../img/clubs.png"></th>
            <th>J<img src="../img/clubs.png"></th>
            <th>Q<img src="../img/clubs.png"></th>
            <th>K<img src="../img/clubs.png"></th>
            <th>A<img src="../img/clubs.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP1.get('2c')}"></th>
            <th th:utext=" ${statsP1.get('3c')}"></th>
            <th th:utext=" ${statsP1.get('4c')}"></th>
            <th th:utext=" ${statsP1.get('5c')}"></th>
            <th th:utext=" ${statsP1.get('6c')}"></th>
            <th th:utext=" ${statsP1.get('7c')}"></th>
            <th th:utext=" ${statsP1.get('8c')}"></th>
            <th th:utext=" ${statsP1.get('9c')}"></th>
            <th th:utext=" ${statsP1.get('Tc')}"></th>
            <th th:utext=" ${statsP1.get('Jc')}"></th>
            <th th:utext=" ${statsP1.get('Qc')}"></th>
            <th th:utext=" ${statsP1.get('Kc')}"></th>
            <th th:utext=" ${statsP1.get('Ac')}"></th>
        </tr>
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/spade.png"></th>
            <th>3<img src="../img/spade.png"></th>
            <th>4<img src="../img/spade.png"></th>
            <th>5<img src="../img/spade.png"></th>
            <th>6<img src="../img/spade.png"></th>
            <th>7<img src="../img/spade.png"></th>
            <th>8<img src="../img/spade.png"></th>
            <th>9<img src="../img/spade.png"></th>
            <th>T<img src="../img/spade.png"></th>
            <th>J<img src="../img/spade.png"></th>
            <th>Q<img src="../img/spade.png"></th>
            <th>K<img src="../img/spade.png"></th>
            <th>A<img src="../img/spade.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP1.get('2s')}"></th>
            <th th:utext=" ${statsP1.get('3s')}"></th>
            <th th:utext=" ${statsP1.get('4s')}"></th>
            <th th:utext=" ${statsP1.get('5s')}"></th>
            <th th:utext=" ${statsP1.get('6s')}"></th>
            <th th:utext=" ${statsP1.get('7s')}"></th>
            <th th:utext=" ${statsP1.get('8s')}"></th>
            <th th:utext=" ${statsP1.get('9s')}"></th>
            <th th:utext=" ${statsP1.get('Ts')}"></th>
            <th th:utext=" ${statsP1.get('Js')}"></th>
            <th th:utext=" ${statsP1.get('Qs')}"></th>
            <th th:utext=" ${statsP1.get('Ks')}"></th>
            <th th:utext=" ${statsP1.get('As')}"></th>
        </tr>
    </table>
    <br>
    <h2>Player2</h2>
    <table id="equity_by_card">
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/heart.png"></th>
            <th>3<img src="../img/heart.png"></th>
            <th>4<img src="../img/heart.png"></th>
            <th>5<img src="../img/heart.png"></th>
            <th>6<img src="../img/heart.png"></th>
            <th>7<img src="../img/heart.png"></th>
            <th>8<img src="../img/heart.png"></th>
            <th>9<img src="../img/heart.png"></th>
            <th>T<img src="../img/heart.png"></th>
            <th>J<img src="../img/heart.png"></th>
            <th>Q<img src="../img/heart.png"></th>
            <th>K<img src="../img/heart.png"></th>
            <th>A<img src="../img/heart.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP2.get('2h')}"></th>
            <th th:utext=" ${statsP2.get('3h')}"></th>
            <th th:utext=" ${statsP2.get('4h')}"></th>
            <th th:utext=" ${statsP2.get('5h')}"></th>
            <th th:utext=" ${statsP2.get('6h')}"></th>
            <th th:utext=" ${statsP2.get('7h')}"></th>
            <th th:utext=" ${statsP2.get('8h')}"></th>
            <th th:utext=" ${statsP2.get('9h')}"></th>
            <th th:utext=" ${statsP2.get('Th')}"></th>
            <th th:utext=" ${statsP2.get('Jh')}"></th>
            <th th:utext=" ${statsP2.get('Qh')}"></th>
            <th th:utext=" ${statsP2.get('Kh')}"></th>
            <th th:utext=" ${statsP2.get('Ah')}"></th>
        </tr>
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/diamonds.png"></th>
            <th>3<img src="../img/diamonds.png"></th>
            <th>4<img src="../img/diamonds.png"></th>
            <th>5<img src="../img/diamonds.png"></th>
            <th>6<img src="../img/diamonds.png"></th>
            <th>7<img src="../img/diamonds.png"></th>
            <th>8<img src="../img/diamonds.png"></th>
            <th>9<img src="../img/diamonds.png"></th>
            <th>T<img src="../img/diamonds.png"></th>
            <th>J<img src="../img/diamonds.png"></th>
            <th>Q<img src="../img/diamonds.png"></th>
            <th>K<img src="../img/diamonds.png"></th>
            <th>A<img src="../img/diamonds.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP2.get('2d')}"></th>
            <th th:utext=" ${statsP2.get('3d')}"></th>
            <th th:utext=" ${statsP2.get('4d')}"></th>
            <th th:utext=" ${statsP2.get('5d')}"></th>
            <th th:utext=" ${statsP2.get('6d')}"></th>
            <th th:utext=" ${statsP2.get('7d')}"></th>
            <th th:utext=" ${statsP2.get('8d')}"></th>
            <th th:utext=" ${statsP2.get('9d')}"></th>
            <th th:utext=" ${statsP2.get('Td')}"></th>
            <th th:utext=" ${statsP2.get('Jd')}"></th>
            <th th:utext=" ${statsP2.get('Qd')}"></th>
            <th th:utext=" ${statsP2.get('Kd')}"></th>
            <th th:utext=" ${statsP2.get('Ad')}"></th>
        </tr>
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/clubs.png"></th>
            <th>3<img src="../img/clubs.png"></th>
            <th>4<img src="../img/clubs.png"></th>
            <th>5<img src="../img/clubs.png"></th>
            <th>6<img src="../img/clubs.png"></th>
            <th>7<img src="../img/clubs.png"></th>
            <th>8<img src="../img/clubs.png"></th>
            <th>9<img src="../img/clubs.png"></th>
            <th>T<img src="../img/clubs.png"></th>
            <th>J<img src="../img/clubs.png"></th>
            <th>Q<img src="../img/clubs.png"></th>
            <th>K<img src="../img/clubs.png"></th>
            <th>A<img src="../img/clubs.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP2.get('2c')}"></th>
            <th th:utext=" ${statsP2.get('3c')}"></th>
            <th th:utext=" ${statsP2.get('4c')}"></th>
            <th th:utext=" ${statsP2.get('5c')}"></th>
            <th th:utext=" ${statsP2.get('6c')}"></th>
            <th th:utext=" ${statsP2.get('7c')}"></th>
            <th th:utext=" ${statsP2.get('8c')}"></th>
            <th th:utext=" ${statsP2.get('9c')}"></th>
            <th th:utext=" ${statsP2.get('Tc')}"></th>
            <th th:utext=" ${statsP2.get('Jc')}"></th>
            <th th:utext=" ${statsP2.get('Qc')}"></th>
            <th th:utext=" ${statsP2.get('Kc')}"></th>
            <th th:utext=" ${statsP2.get('Ac')}"></th>
        </tr>
        <tr>
            <th><b>Card</b></th>
            <th>2<img src="../img/spade.png"></th>
            <th>3<img src="../img/spade.png"></th>
            <th>4<img src="../img/spade.png"></th>
            <th>5<img src="../img/spade.png"></th>
            <th>6<img src="../img/spade.png"></th>
            <th>7<img src="../img/spade.png"></th>
            <th>8<img src="../img/spade.png"></th>
            <th>9<img src="../img/spade.png"></th>
            <th>T<img src="../img/spade.png"></th>
            <th>J<img src="../img/spade.png"></th>
            <th>Q<img src="../img/spade.png"></th>
            <th>K<img src="../img/spade.png"></th>
            <th>A<img src="../img/spade.png"></th>
        </tr>
        <tr>
            <th><b>Equity</b></th>
            <th th:utext=" ${statsP2.get('2s')}"></th>
            <th th:utext=" ${statsP2.get('3s')}"></th>
            <th th:utext=" ${statsP2.get('4s')}"></th>
            <th th:utext=" ${statsP2.get('5s')}"></th>
            <th th:utext=" ${statsP2.get('6s')}"></th>
            <th th:utext=" ${statsP2.get('7s')}"></th>
            <th th:utext=" ${statsP2.get('8s')}"></th>
            <th th:utext=" ${statsP2.get('9s')}"></th>
            <th th:utext=" ${statsP2.get('Ts')}"></th>
            <th th:utext=" ${statsP2.get('Js')}"></th>
            <th th:utext=" ${statsP2.get('Qs')}"></th>
            <th th:utext=" ${statsP2.get('Ks')}"></th>
            <th th:utext=" ${statsP2.get('As')}"></th>
        </tr>
    </table>


</div>


<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
</html>

