<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Range Bar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

    <script th:inline="javascript">
        var range = [[${playerRange}]];
    </script>
    <script>
        $(document).ready(function () {
            var result = "";
            var numbersOfCombs = 0;
            var rangePersent = 0.00;
            var allCombs = 1326;

            $('#table_range')
                .find('td')
                .removeClass('ui-selected')
                .end()
                .find(range)
                .addClass('ui-selected');
            $('.range_cell.pocketpair.ui-selected').each(function () {
                result += $(this).text() + ',';
                numbersOfCombs += 6;
                rangePersent = numbersOfCombs / allCombs * 100;
            });
            $('.range_cell.offsuit.ui-selected').each(function () {
                result += $(this).text() + ',';
                numbersOfCombs += 12;
                rangePersent = numbersOfCombs / allCombs * 100;
            });
            $('.range_cell.suited.ui-selected').each(function () {
                result += $(this).text() + ',';
                numbersOfCombs += 4;
                rangePersent = numbersOfCombs / allCombs * 100;
            });
            $('.comb_cell.ui-selected').each(function () {
                result += $(this).text() + ',';
                numbersOfCombs += 1;
                rangePersent = numbersOfCombs / allCombs * 100;
            });
            $('#playerRange').val(result);
            $('#newRange').val(result);
            $('#rangeForCombinator').val(result);
            $('#numbersOfCombs').val(numbersOfCombs);
            $('#rangePersent').val(rangePersent.toFixed(2));

            $('#table_range').bind("mousedown", function (e) {
                e.metaKey = true;
            })
                .selectable({
                    maxDistance: 1,
                    filter: 'td',

                    selected: function (event, ui) {
                        if (!$(ui.selected).hasClass('selected-flag')) {
                            $(ui.selected).addClass('selected-flag');
                        } else {
                            $(ui.selected).removeClass("ui-selected selected-flag");
                        }
                    },
                    stop: function () {
                        var result = "";
                        var numbersOfCombs = 0;
                        var rangePersent = 0.00;
                        var allCombs = 1326;

                        $('.range_cell.pocketpair.ui-selected').each(function () {
                            result += $(this).text() + ',';
                            numbersOfCombs += 6;
                            rangePersent = numbersOfCombs / allCombs * 100;
                        });
                        $('.range_cell.offsuit.ui-selected').each(function () {
                            result += $(this).text() + ',';
                            numbersOfCombs += 12;
                            rangePersent = numbersOfCombs / allCombs * 100;
                        });
                        $('.range_cell.suited.ui-selected').each(function () {
                            result += $(this).text() + ',';
                            numbersOfCombs += 4;
                            rangePersent = numbersOfCombs / allCombs * 100;
                        });
                        $('.comb_cell.ui-selected').each(function () {
                            result += $(this).text() + ',';
                            numbersOfCombs += 1;
                            rangePersent = numbersOfCombs / allCombs * 100;
                        });

                        $('#playerRange').val(result);
                        $('#newRange').val(result);
                        $('#rangeForCombinator').val(result);
                        $('#numbersOfCombs').val(numbersOfCombs);
                        $('#rangePersent').val(rangePersent.toFixed(2));
                    },
                });
        });
    </script>
<!--
    <script>
        $('#theParentList').selectable({
            filter: 'li div',
            selecting: function (event, ui) {
                if ($(ui.selecting).parent().hasClass('range_cell')) {
                    //this is a level-1 item, so select all of it's children
                    var ch = $(ui.selecting).parent().find('.level-2 .ui-selectee');
                    $(ch).not(".ui-selected").addClass("ui-selecting");
                } else {
                    //this is a level-2 item, so check to see if all of it's siblings are also selected
                    var sibs = $(ui.selecting).parent().siblings().find('.ui-selectee');
                    var notSelected = 0;
                    for (var i = 0; i < sibs.length; i++) {
                        if ($(sibs[i]).hasClass('ui-selected') || $(sibs[i]).hasClass('ui-selecting')) {
                            notSelected = notSelected
                        } else {
                            notSelected = notSelected + 1;
                        }
                    }
                    if (notSelected === 0) { //all siblings are selected, so select their level-1 parent as well
                        $(ui.selecting).parent().parent().parent().find('>:first-child').not(".ui-selected").addClass("ui-selecting");
                    }
                    //otherwise, just select as usual
                }
            },
            unselected: function (event, ui) {
                if ($(ui.unselected).parent().hasClass('level-1')) {
                    //unselect all of it's children
                    $(ui.unselected).parent().children().each(function () {
                        $(this).find('.ui-selectee').removeClass('ui-selected').addClass('ui-unselected');
                    });
                } else {
                    //this is a level-2 item, so we need to deselect its level-1 parent
                    $(ui.unselected).parents('li.level-1').find(">:first-child").removeClass('ui-selected');
                }
            }
        });

    </script>
    -->


</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>


<div id="mainContainer">
    <div class="left-cont">
        <form th:method="POST" th:action="@{/calculator/range-bar/{id}(id=${id})}">
            Range:
            <input class="range" readonly type="text" name="playerRange" id="playerRange" value=""/>
            <br>
            <input class="percent" readonly type="text" name="rangePersent" id="rangePersent" value=""/>%

            <input class="combs" readonly type="text" name="numbersOfCombs" id="numbersOfCombs" value=""/> combs

            <table id="table_range">
                <tr>
                    <td id="AA" class="range_cell pocketpair">AA</td>
                    <!--
                    <select size="4" multiple>
                        <option class="comb_cell">AsAh</option>
                        <option class="comb_cell">AsAd</option>
                        <option class="comb_cell">AsAc</option>
                        <option class="comb_cell">AhAd</option>
                    </select> -->

                    <td id="AKs" class="range_cell suited">AKs</td>
                    <td id="AQs" class="range_cell suited">AQs</td>
                    <td id="AJs" class="range_cell suited">AJs</td>
                    <td id="ATs" class="range_cell suited">ATs</td>
                    <td id="A9s" class="range_cell suited">A9s</td>
                    <td id="A8s" class="range_cell suited">A8s</td>
                    <td id="A7s" class="range_cell suited">A7s</td>
                    <td id="A6s" class="range_cell suited">A6s</td>
                    <td id="A5s" class="range_cell suited">A5s</td>
                    <td id="A4s" class="range_cell suited">A4s</td>
                    <td id="A3s" class="range_cell suited">A3s</td>
                    <td id="A2s" class="range_cell suited">A2s</td>
                </tr>
                <tr>
                    <td id="AKo" class="range_cell offsuit">AKo</td>
                    <td id="KK" class="range_cell pocketpair">KK</td>
                    <td id="KQs" class="range_cell suited">KQs</td>
                    <td id="KJs" class="range_cell suited">KJs</td>
                    <td id="KTs" class="range_cell suited">KTs</td>
                    <td id="K9s" class="range_cell suited">K9s</td>
                    <td id="K8s" class="range_cell suited">K8s</td>
                    <td id="K7s" class="range_cell suited">K7s</td>
                    <td id="K6s" class="range_cell suited">K6s</td>
                    <td id="K5s" class="range_cell suited">K5s</td>
                    <td id="K4s" class="range_cell suited">K4s</td>
                    <td id="K3s" class="range_cell suited">K3s</td>
                    <td id="K2s" class="range_cell suited">K2s</td>
                </tr>
                <tr>
                    <td id="AQo" class="range_cell offsuit">AQo</td>
                    <td id="KQo" class="range_cell offsuit">KQo</td>
                    <td id="QQ" class="range_cell pocketpair">QQ</td>
                    <td id="QJs" class="range_cell suited">QJs</td>
                    <td id="QTs" class="range_cell suited">QTs</td>
                    <td id="Q9s" class="range_cell suited">Q9s</td>
                    <td id="Q8s" class="range_cell suited">Q8s</td>
                    <td id="Q7s" class="range_cell suited">Q7s</td>
                    <td id="Q6s" class="range_cell suited">Q6s</td>
                    <td id="Q5s" class="range_cell suited">Q5s</td>
                    <td id="Q4s" class="range_cell suited">Q4s</td>
                    <td id="Q3s" class="range_cell suited">Q3s</td>
                    <td id="Q2s" class="range_cell suited">Q2s</td>
                </tr>
                <tr>
                    <td id="AJo" class="range_cell offsuit">AJo</td>
                    <td id="KJo" class="range_cell offsuit">KJo</td>
                    <td id="QJo" class="range_cell offsuit">QJo</td>
                    <td id="JJ" class="range_cell pocketpair">JJ</td>
                    <td id="JTs" class="range_cell suited">JTs</td>
                    <td id="J9s" class="range_cell suited">J9s</td>
                    <td id="J8s" class="range_cell suited">J8s</td>
                    <td id="J7s" class="range_cell suited">J7s</td>
                    <td id="J6s" class="range_cell suited">J6s</td>
                    <td id="J5s" class="range_cell suited">J5s</td>
                    <td id="J4s" class="range_cell suited">J4s</td>
                    <td id="J3s" class="range_cell suited">J3s</td>
                    <td id="J2s" class="range_cell suited">J2s</td>
                </tr>
                <tr>
                    <td id="ATo" class="range_cell offsuit">ATo</td>
                    <td id="KTo" class="range_cell offsuit">KTo</td>
                    <td id="QTo" class="range_cell offsuit">QTo</td>
                    <td id="JTo" class="range_cell offsuit">JTo</td>
                    <td id="TT" class="range_cell pocketpair">TT</td>
                    <td id="T9s" class="range_cell suited">T9s</td>
                    <td id="T8s" class="range_cell suited">T8s</td>
                    <td id="T7s" class="range_cell suited">T7s</td>
                    <td id="T6s" class="range_cell suited">T6s</td>
                    <td id="T5s" class="range_cell suited">T5s</td>
                    <td id="T4s" class="range_cell suited">T4s</td>
                    <td id="T3s" class="range_cell suited">T3s</td>
                    <td id="T2s" class="range_cell suited">T2s</td>
                </tr>
                <tr>
                    <td id="A9o" class="range_cell offsuit">A9o</td>
                    <td id="K9o" class="range_cell offsuit">K9o</td>
                    <td id="Q9o" class="range_cell offsuit">Q9o</td>
                    <td id="J9o" class="range_cell offsuit">J9o</td>
                    <td id="T9o" class="range_cell offsuit">T9o</td>
                    <td id="99" class="range_cell pocketpair">99</td>
                    <td id="98s" class="range_cell suited">98s</td>
                    <td id="97s" class="range_cell suited">97s</td>
                    <td id="96s" class="range_cell suited">96s</td>
                    <td id="95s" class="range_cell suited">95s</td>
                    <td id="94s" class="range_cell suited">94s</td>
                    <td id="93s" class="range_cell suited">93s</td>
                    <td id="92s" class="range_cell suited">92s</td>
                </tr>
                <tr>
                    <td id="A8o" class="range_cell offsuit">A8o</td>
                    <td id="K8o" class="range_cell offsuit">K8o</td>
                    <td id="Q8o" class="range_cell offsuit">Q8o</td>
                    <td id="J8o" class="range_cell offsuit">J8o</td>
                    <td id="T8o" class="range_cell offsuit">T8o</td>
                    <td id="98o" class="range_cell offsuit">98o</td>
                    <td id="88" class="range_cell pocketpair">88</td>
                    <td id="87s" class="range_cell suited">87s</td>
                    <td id="86s" class="range_cell suited">86s</td>
                    <td id="85s" class="range_cell suited">85s</td>
                    <td id="84s" class="range_cell suited">84s</td>
                    <td id="83s" class="range_cell suited">83s</td>
                    <td id="82s" class="range_cell suited">82s</td>
                </tr>
                <tr>
                    <td id="A7o" class="range_cell offsuit">A7o</td>
                    <td id="K7o" class="range_cell offsuit">K7o</td>
                    <td id="Q7o" class="range_cell offsuit">Q7o</td>
                    <td id="J7o" class="range_cell offsuit">J7o</td>
                    <td id="T7o" class="range_cell offsuit">T7o</td>
                    <td id="97o" class="range_cell offsuit">97o</td>
                    <td id="87o" class="range_cell offsuit">87o</td>
                    <td id="77" class="range_cell pocketpair">77</td>
                    <td id="76s" class="range_cell suited">76s</td>
                    <td id="75s" class="range_cell suited">75s</td>
                    <td id="74s" class="range_cell suited">74s</td>
                    <td id="73s" class="range_cell suited">73s</td>
                    <td id="72s" class="range_cell suited">72s</td>
                </tr>
                <tr>
                    <td id="A6o" class="range_cell offsuit">A6o</td>
                    <td id="K6o" class="range_cell offsuit">K6o</td>
                    <td id="Q6o" class="range_cell offsuit">Q6o</td>
                    <td id="J6o" class="range_cell offsuit">J6o</td>
                    <td id="T6o" class="range_cell offsuit">T6o</td>
                    <td id="96o" class="range_cell offsuit">96o</td>
                    <td id="86o" class="range_cell offsuit">86o</td>
                    <td id="76o" class="range_cell offsuit">76o</td>
                    <td id="66" class="range_cell pocketpair">66</td>
                    <td id="65s" class="range_cell suited">65s</td>
                    <td id="64s" class="range_cell suited">64s</td>
                    <td id="63s" class="range_cell suited">63s</td>
                    <td id="62s" class="range_cell suited">62s</td>
                </tr>
                <tr>
                    <td id="A5o" class="range_cell offsuit">A5o</td>
                    <td id="K5o" class="range_cell offsuit">K5o</td>
                    <td id="Q5o" class="range_cell offsuit">Q5o</td>
                    <td id="J5o" class="range_cell offsuit">J5o</td>
                    <td id="T5o" class="range_cell offsuit">T5o</td>
                    <td id="95o" class="range_cell offsuit">95o</td>
                    <td id="85o" class="range_cell offsuit">85o</td>
                    <td id="75o" class="range_cell offsuit">75o</td>
                    <td id="65o" class="range_cell offsuit">65o</td>
                    <td id="55" class="range_cell pocketpair">55</td>
                    <td id="54s" class="range_cell suited">54s</td>
                    <td id="53s" class="range_cell suited">53s</td>
                    <td id="52s" class="range_cell suited">52s</td>
                </tr>
                <tr>
                    <td id="A4o" class="range_cell offsuit">A4o</td>
                    <td id="K4o" class="range_cell offsuit">K4o</td>
                    <td id="Q4o" class="range_cell offsuit">Q4o</td>
                    <td id="J4o" class="range_cell offsuit">J4o</td>
                    <td id="T4o" class="range_cell offsuit">T4o</td>
                    <td id="94o" class="range_cell offsuit">94o</td>
                    <td id="84o" class="range_cell offsuit">84o</td>
                    <td id="74o" class="range_cell offsuit">74o</td>
                    <td id="64o" class="range_cell offsuit">64o</td>
                    <td id="54o" class="range_cell offsuit">54o</td>
                    <td id="44" class="range_cell pocketpair">44</td>
                    <td id="43s" class="range_cell suited">43s</td>
                    <td id="42s" class="range_cell suited">42s</td>
                </tr>
                <tr>
                    <td id="A3o" class="range_cell offsuit">A3o</td>
                    <td id="K3o" class="range_cell offsuit">K3o</td>
                    <td id="Q3o" class="range_cell offsuit">Q3o</td>
                    <td id="J3o" class="range_cell offsuit">J3o</td>
                    <td id="T3o" class="range_cell offsuit">T3o</td>
                    <td id="93o" class="range_cell offsuit">93o</td>
                    <td id="83o" class="range_cell offsuit">83o</td>
                    <td id="73o" class="range_cell offsuit">73o</td>
                    <td id="63o" class="range_cell offsuit">63o</td>
                    <td id="53o" class="range_cell offsuit">53o</td>
                    <td id="43o" class="range_cell offsuit">43o</td>
                    <td id="33" class="range_cell pocketpair">33</td>
                    <td id="32s" class="range_cell suited">32s</td>
                </tr>
                <tr>
                    <td id="A2o" class="range_cell offsuit">A2o</td>
                    <td id="K2o" class="range_cell offsuit">K2o</td>
                    <td id="Q2o" class="range_cell offsuit">Q2o</td>
                    <td id="J2o" class="range_cell offsuit">J2o</td>
                    <td id="T2o" class="range_cell offsuit">T2o</td>
                    <td id="92o" class="range_cell offsuit">92o</td>
                    <td id="82o" class="range_cell offsuit">82o</td>
                    <td id="72o" class="range_cell offsuit">72o</td>
                    <td id="62o" class="range_cell offsuit">62o</td>
                    <td id="52o" class="range_cell offsuit">52o</td>
                    <td id="42o" class="range_cell offsuit">42o</td>
                    <td id="32o" class="range_cell offsuit">32o</td>
                    <td id="22" class="range_cell pocketpair">22</td>
                </tr>
            </table>
            <br>
            <input type="submit" value="OK"/>
            <a class="buttonClass" th:href="@{/calculator/calculator}">Cancel</a>
            <a class="buttonClass" th:href="@{/calculator/clear-range-bar/{id}(id=${id})}">Clear</a>
        </form>
    </div>

    <div class="center-cont">
        <div class="combs-list-div">
            <p class="range-list-title">Combinations by card</p>
            <table class="combs-list-table">
                <tr th:each="entry, stat : ${combs}">
                    <b><td th:text="${entry.key}">Hand</td></b>
                    <td th:text="${entry.value}">combs</td>
                </tr>
            </table>
            <br>
            <form th:method="GET" th:action="@{/calculator/combinations/{id}(id=${id})}" th:object="${newRange}">
                <input type="text" hidden name="rangeForCombinator" id="rangeForCombinator" value=""/>
                <input type="text" hidden name="allcombs" id="allcombs" value=""/>
                <input type="submit" value="Show Combination by card"/>
            </form>
        </div>

    </div>

    <div class="right-cont">
        <div class="list-with-ranges">
            <p class="range-list-title">Saved Ranges</p>
            <table id="range-list-table">
                <div th:each="range : ${rangesDB}">
                    <tr>
                        <th>
                            <a th:href="@{/calculator/range/rangeId/{rangeId}/playerId/{playerId}(rangeId=${range.id}, playerId=${id})}"
                               th:text="${range.name}"></a>
                        </th>
                        <th class="del">
                            <div th:if="${range.playerId != 0}">
                                <form th:method="DELETE"
                                      th:action="@{/calculator/delete-range/rangeId/{rangeId}/playerId/{playerId}(rangeId=${range.id}, playerId=${id})}">
                                    <input type="submit" value="Del"/>
                                </form>
                            </div>
                        </th>
                    </tr>
                </div>
            </table>
            <br>
            <form th:method="POST" th:action="@{/calculator/save-range/{id}(id=${id})}" th:object="${newRange}">
                <input hidden type="text" th:field="*{range}" name="newRange" id="newRange" value=""/>
                <input hidden type="text" th:field="*{name}" name="nameNewRange" id="nameNewRange" value=""/>
                <input type="submit" onclick="saveNewRange()" value="Save"/>
                <span style="color: red" th:text="${error}"></span>

                <script>
                    function saveNewRange() {
                        if (!document.getElementById('newRange').value) {
                            alert('You must select some hands');
                            return null;
                        } else {
                            do {
                                let nameNewRange = prompt("Enter name");

                                $('#nameNewRange').val(nameNewRange)

                            } while (!document.getElementById('nameNewRange').value)
                        }
                    }
                </script>
            </form>
        </div>

    </div>








</div>


<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
</html>
