<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>


<div id="mainContainer">

    <form th:method="PATCH" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email') }" th:errors="*{email}">email error</div>

        <br>
        <label for="firstname">Firstname: </label>
        <input type="text" th:field="*{firstname}" id="firstname"/>
        <div style="color: red" th:if="${#fields.hasErrors('firstname') }" th:errors="*{firstname}">firstname error
        </div>

        <br>
        <label for="lastname">Lastname: </label>
        <input type="text" th:field="*{lastname}" id="lastname"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastname') }" th:errors="*{lastname}">lastname error</div>

        <input type="text" hidden th:field="*{role}" id="role"/>
        <input type="text" hidden th:field="*{status}" id="status"/>
        <input type="text" hidden th:field="*{password}" id="password"/>


        <input type="submit" value="Update"/>
    </form>
    <a th:href="@{/password/{id}(id=${user.getId()})}">Edit Password</a>





</div>


<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
</html>
