<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/template :: link}"></th:block>

</head>
<body>
<th:block th:insert="~{fragments/template :: #header}"></th:block>
<th:block th:insert="~{fragments/template :: #menu}"></th:block>


<div id="mainContainer">

    <form th:method="PATCH" th:action="@{/password/{id}(id=${user.getId()})}" th:object="${user}">
        <input type="text" th:field="*{email}" id="email"/>
        <label for="old_password">Old password: </label>
        <input type="text" name="old_password" id="old_password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password') }" th:errors="*{password}">password error</div>
        <br>
        <label for="new_password">New password: </label>
        <input type="text" name="new_password" id="new_password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password') }" th:errors="*{password}">password error</div>

        <input type="submit" value="Update"/>
    </form>



</div>


<div class="clear"></div>
<th:block th:insert="~{fragments/template :: #footer}"></th:block>


</body>
</html>
