@import url(reset.css);

body {
	max-width:1100px;
	border: 1px solid black;
	margin: 0 auto;
}

.clear{
	clear: both;
}

#header{
	height: 50px;
	border: 1px solid green;
}

#menu{
	height: 25px;
	margin-top: 1px;
	border: 1px solid orange;
}

#mainContainer{
	height: auto;
	border: 1px solid #dd00ff;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	background: #cbd7d7;
}
li a {
	text-decoration: none;
	background:#cbd7d7;
	color: #000000;
	padding:0px 15px;
	font-family: arial;
	line-height:25px;
	display: block;
}
li a:hover {
	background: #dfd9ec;
}

#registration_button a{
	width: 95px;
	height: 20px;
	text-decoration: none;
	color: #0033be;
	font: 12px Verdana;
	display: block;
	background-color: white;
	padding-top: 2px;
}

#registration_button a:hover {
	color: #587cd3;
}

.admin_table_all_users{
	border: 1px solid black;
}

.colum_user_title{
	color: #0949e8;
}
.colum_user_title a{
	color: #0949e8;
}
.colum_user_title a:visited{
	color: #0949e8;
}

.color_status_active{
	color: #3fef04;
}

.color_status_inactive{
	color: #ffd613;
}

.color_status_banned{
	color: #f1062a;
}

.admin_table_all_users th{
	border: 1px solid black;
	width: 100px;
}

.admin_table_all_users a{
	text-decoration: none;
}

.admin_table_all_users a:hover{
	color: #bfe809;
}
.admin_table_all_users a:visited{
	color: #0949e8;
}

li {
	float:left;
	position:relative;
}

#equity_by_card{
	border: 1px solid grey;
}
#equity_by_card th{
	border: 1px solid grey;
	width: 40px;
	height: 20px;
	text-align: center;
}
#equity_by_card img{
	height: auto;
	width: 10px;
}

#footer{
	border: 1px solid red;
	height: 25px;
}




