@import url(reset.css);

body {
	max-width:1000px;
	border: 1px solid black;
	margin: 0 auto;
}

.clear{
	clear: both;
}


#header{
	height: 50px;
	border: 1px solid green;
}

#menu{
	height: 25px;
	margin-top: 1px;
	border: 1px solid orange;
}

#mainContainer{
	height: auto;
	border: 1px solid #dd00ff;
}

.left-cont{
	width: 530px;
	float: left;
}
.center-cont{
	width: 220px;
	float: left;
	margin-top: 60px;
}
.right-cont{
	width: 160px;
	float: left;
	margin-top: 60px;
}

/* work with ranges table */
input.range{
	width: 500px;
}
input.combs{
	width: 40px;
	border: 0px;
	text-align: right;
}
input.percent{
	width: 40px;
	border: 0px;
	text-align: right;
}
input.equity{
	width: 50px;
}
input.board{
	width: 100px;
}
.list-with-ranges{
	border: 1px solid #d6b5fa;
	width: 140px;
}

#range-list-table a{
	text-decoration: none;
	color: black;
	font-family: arial;
	font-size: 14px;
	padding-top: 3px;
}
#range-list-table th{
	border: 1px solid black;
	padding-left: 5px;
	width: 80px;
}
#range-list-table th.del{
	border: 1px solid black;
	padding-left: 5px;
	width: 40px;
}
#range-list-table a:hover{
	color: #0033be;
}
.clear-button-in-range-bar{
	text-decoration: none;
	border: 1px solid black;
	background-color: #c5c5c5;
	color: black;
	font-family: arial;
	font-size: 14px;
	width: 25px;
	height: 15px;
	text-align: center;
}

.combs-list-div{
	border: 1px solid #d6b5fa;
	width: 180px;;
}

.combs-list-table td{
	border: 1px solid black;
	padding-left: 5px;
	width: 30px;
	text-align: center;
}
.sortable td{
	border: 1px solid black;
	padding-left: 5px;
	width: 40px;
	text-align: center;
}

.equity_by_range td{
	border: 1px solid black;
	padding-left: 5px;
	width: 40px;
	text-align: center;
}
#equity_by_rangeP1{
	width: 496px;
	border: 1px solid black;
	float: left;
}
#equity_by_rangeP2{
	width: 496px;
	border: 1px solid black;
	float: left;
}
.newCalculatorButton{
	float: left;
	padding: 2px;
	border: 1px solid black;
	background-color: #9a9a9a;
}
.uploadFileButton{
	float: left;
	padding: 2px;
	border: 1px solid black;
	background-color: #9a9a9a;
	margin-left: 5px;
}
.saveResultButton{
	float: left;
	margin-left: 5px;
}

/*------------------------------*/


ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	background: #cbd7d7;
}
li a {
	text-decoration: none;
	background:#cbd7d7;
	color: #000000;
	padding:0px 15px;
	font-family: arial;
	line-height:25px;
	display: block;
}
li a:hover {
	background: #dfd9ec;
}

#registration_button a{
	width: 95px;
	height: 20px;
	text-decoration: none;
	color: #0033be;
	font: 12px Verdana;
	display: block;
	background-color: white;
	padding-top: 2px;
}

#registration_button a:hover {
	color: #587cd3;
}

.admin_table_all_users{
	border: 1px solid black;
}

.colum_user_title{
	color: #0949e8;
}
.colum_user_title a{
	color: #0949e8;
}
.colum_user_title a:visited{
	color: #0949e8;
}

.color_status_active{
	color: #3fef04;
}

.color_status_inactive{
	color: #ffd613;
}

.color_status_banned{
	color: #f1062a;
}

.admin_table_all_users th{
	border: 1px solid black;
	width: 100px;
}

.admin_table_all_users a{
	text-decoration: none;
}

.admin_table_all_users a:hover{
	color: #bfe809;
}
.admin_table_all_users a:visited{
	color: #0949e8;
}

li {
	float:left;
	position:relative;
}

#equity_by_card{
	border: 1px solid grey;
}
#equity_by_card th{
	border: 1px solid grey;
	width: 40px;
	height: 20px;
	text-align: center;
}
#equity_by_card img{
	height: auto;
	width: 10px;
}


#footer{
	border: 1px solid red;
	height: 25px;
}





