/*
#selectable li{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
    font: 10px Verdana;
}

#table_range td{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
    font: 10px Verdana;
}

.ui-selected{
    background-color: #90ee90;
    border-color: #acf2ac;
    border-style: inset;
    color: white;
}
 */


#selectable.suited {
    background-color: silver;
    border-color: #eee
}

#selectable.offsuit {
    background-color: #dcdcdc;
    border-color: #eee
}

#selectable.pocketpair {
    background-color: #9a9a9a;
    border-color: #eee
}




td {
    vertical-align: middle
}

.range_cell {
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: .75em;
    cursor: pointer;
    border-style: outset;
    border-width: 1px;
    margin: 1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.board_cell {
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: .75em;
    cursor: pointer;
    border-style: outset;
    border-width: 1px;
    margin: 1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.board_cell img{
    height: auto;
    width: 10px;
    position: relative;
}

.suited {
    background-color: silver;
    border-color: #eee
}

.offsuit {
    background-color: #dcdcdc;
    border-color: #eee
}

.pocketpair {
    background-color: #9a9a9a;
    border-color: #eee
}

.range_cell.suited.ui-selected {
    background-color: #58D68D;
    border-color: #acf2ac;
    border-style: inset
}

.range_cell.offsuit.ui-selected {
    background-color: #58D68D;
    border-color: #acf2ac;
    border-style: inset
}
.comb_cell.offsuit.ui-selected {
    background-color: #58D68D;
    border-color: #acf2ac;
    border-style: inset
}

.range_cell.pocketpair.ui-selected {
    background-color: #58D68D;
    border-color: #acf2ac;
    border-style: inset
}
.ui-selecting{
    background-color: #D5F5E3;
    color: black;
}
.board_cell.ui-selected {
    background-color: #58D68D;
    border-color: #acf2ac;
    border-style: inset
}










