<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>


</head>
<body>

<div id="header">HEADER</div>

<div id="menu">
    <ul>
        <li><a href="/index">Home</a></li>
        <div sec:authorize="isAuthenticated()">
            <li><a href="/calculator/calculator">Calculator</a></li>
        </div>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <div sec:authorize="!isAuthenticated()">
            <li><a href="/login">Login</a></li>
        </div>

        <div sec:authorize="isAuthenticated()">
            <li><a href="/user/account">Account</a></li>
        </div>
        <div sec:authorize="hasAuthority('access:admin')">
            <li><a href="/admin/main">Admin</a></li>
        </div>
        <div sec:authorize="isAuthenticated()">
            <li><a href="/logout">Logout</a></li>
        </div>

    </ul>
</div>


<div id="footer">FOOTER</div>

</body>
</html>